<div class="container ">

    <h1 class=" "style="color:#000 "> Best Adventure Tour <b style="color:#daa520 ">Packages in Our organisation</b></h1>
 
     <br>
    <div class="row "style="background-color: ">
    <div class="col-md-12 ">
    <div class="row "style="background-color: ">
    
   
    
        <div class="col-md-4 ">
      <img src="assets/trekk.jpg " class="card-img-top img-responsive " alt="... ">
       <br><br>
      <div class=" ">
        <h4 class="card-title "style="text-align:center ">trekking</h4>
        <a href="page.php?pgID=pkg_20 " target="_self " class="btn btn-primary "style="margin-left:80 ">Click here</a>
    </div></div>
        <div class=" col-md-4 ">
      <img src="assets/camp.jpg " class="card-img-top img-responsive " alt="... ">
       <br><br>
      <div class=" ">
        <h4 class="card-title "style="text-align:center ">Camping</h4>
        <a href="page.php?pgID=pkg_20 " target="_self " class="btn btn-primary "style="margin-left:80 ">Click here</a>
    </div></div>
        <div class=" col-md-4 ">
      <img src="assets/wild.jpg " class="card-img-top img-responsive " alt="... ">
       <br><br>
      <div class=" ">
        <h4 class="card-title "style="text-align:center ">Wildlife</h4>
        <a href="page.php?pgID=pkg_20 " target="_self " class="btn btn-primary "style="margin-left:80 ">Click here</a>
      </div></div></div>
        </div>
        </div></div>