<h2 class=""style="text-align:center;font-style:initial;font-weight:600;color:#945026;font-family:cursive ">WHY CHOOSE US<b style="color:red"> This organistion</b></h2>
<br><br>
<div class="container">
    <div class="row">
<div class="col-md-12"style="text-align:center">
	  
	 
    <a class="links-set "href="#"><i class="fa fa-phone"></i> High Coustomer Setisfaction</a>
    <hr>
    <a class="links-set "href="#"> Riverside cotteges</a>
    <hr>
    <a class=" links-set"href="#"> Mouth Watering Mills</a>
    <hr>
    <a class="links-set "href="#"> Big Loan Area</a>
    <hr>
    <a class="links-set "href="#">24 Hour Rooms Services</a>
    <hr>
    <a class="links-set"href="#"> Free Parking</a>
    <hr>
    <a class="links-set "href="#"><i class="fa fa-wifi" aria-hidden="true"></i> Free Wifi</a>
    </div>
</div></div>








